<div class="ui main text container">
  <h1 class="ui header">Programming</h1>

  <div class="ui grid">
	  <div class="four wide column">
	  	<div class="ui sticky">
		    <div class="ui vertical fluid tabular menu">
		      <a class="active item" data-tab="introTab">
		        Summary
		      </a>
		      <a class="item" data-tab="workExpTab">
		        Work Experience
		      </a>
		      <a class="item" data-tab="otherProjTab">
		        Personal Projects
		      </a>
		      <a class="item" data-tab="educationTab">
		        Education
		      </a>
		    </div>
	    </div>
	  </div>
	  <div class="twelve wide stretched column" id="programmingContent">
	    <div class="ui tab active" data-tab="introTab">
	      <h3>Hello there!</h3>
	      <p>My name is Donna and thanks for checking out my website. In the "Work Experience" section, you will find all my professional work experiences being a software engineer since 2011. In the "Personal Projects" section, it will describe some of the side projects I work on during my down time. Most of the projects are for fun and a way for me to explore different types of technology that I don't get to experiment with at my daily job. Enjoy!</p>
	    </div>

	    <div class="ui tab" data-tab="workExpTab">
				<div class="ui divided items">
				  <div class="item">
				    <div class="content">
				      <h3>General Atomics</h3>
				      <div class="meta">
				        <span>Software Developer (10.2014-present)</span>
				      </div>
				      <div class="description">
				        <ol class="ui list">
						  <li value="*">Full stack software developer including creating UI design, clientside and serverside implemention, and database architecture.</li>
						  <li value="*">Covert old website to use Bootstrap 3 including redesign of most UI components and dialogs. Move from JQuery dialogs to Bootstrap modals. Convert CSS to SASS. Adapt existing JS to work with new framework.</li>
						  <li value="*">Implement multiple features such as multiple dialog Estimation Calculator, Copy/Paste and Cut/Paste tasks, Delete/Restore tasks, enhanced SAP searching, filter management, saving filter criteria favorites, etc.</li>
						  <li value="*">Write comprehensive unit tests and UI unit test. Demo features for users and user acceptance testing.</li>
						  <li value="*">Mentor summer interns, manage their project design and development of creating error reporting web application. Help with unit testing and user acceptance testing. Deployment and release of intern feature to production.</li>
						</ol>
				      </div>
				      <div class="extra">
				        <div class="ui label"><i class="diamond icon"></i>Ruby on Rails</div>
				        <div class="ui label">Bootstrap 3</div>
				        <div class="ui label">Backbone JS</div>
				        <div class="ui label"><i class="css3 icon"></i> SASS</div>
				        <div class="ui label"><i class="html5 icon"></i> Html5</div>
				        <div class="ui label"><i class="database icon"></i> MySQL</div>
				      </div>
				    </div>
				  </div>
				  <div class="item">
				    <div class="content">
				      <h3>OwnerGUARD Inc</h3>
				      <div class="meta">
				        <span>Software Engineer (05.2014-10.2014)</span>
				      </div>
				      <div class="description">
				        <ol class="ui list">
						  <li value="*">Rewriting legacy Access 2000 application that supports internal contract management and claims tool, to a web application developed in MVC 5 framework.</li>
						  <li value="*">Gather requirements and design UI for contract management application based on user's needs and preferences.</li>
						  <li value="*">Develop a responsive user interface using AJAX and Javascript to update UI and communicate with server thru API.</li>
						  <li value="*">Design and implement API to support UI flows and data transfers.</li>
						  <li value="*">Write LINQ queries to interact with database thru Entity Framework.</li>
						  <li value="*">Primary server side language is C#. Web technologies used were Razor, Html, JSON, AJAX, CSS, Twitter Bootstrap, Jquery and Javascript.</li>
						  <li value="*">Write unit tests on data repositories for automated testing.</li>
						  <li value="*">Use SQL Profiler to minimize database queries for a responsive user experience.</li>
						</ol>
				      </div>
				      <div class="extra">
				        <div class="ui label">Asp.net</div>
				        <div class="ui label">C#</div>
				        <div class="ui label">MVC</div>
				        <div class="ui label">Entity Framework</div>
				        <div class="ui label">Bootstrap 3</div>
				        <div class="ui label">Javascript</div>
				        <div class="ui label">Html</div>
				      </div>
				    </div>
				  </div>
				  <div class="item">
				    <div class="content">
				      <h3>Neustar Localeze</h3>
				      <div class="meta">
				        <span>Software Engineer (07.2011-01.2014)</span>
				      </div>
				      <div class="description">
				        <ol class="ui list">
				        	<li value="*">Worked on a customer facing web application to manage business listings in Asp.Net.</li>
				        	<li value="*">Integrate purchase and payment processing with Cybersource REST API to accept and track payments from customer orders.</li>
				        	<li value="*">Code account registration, phone pin verification, and business authentication process to minimize invalid business data entry.</li>
				        	<li value="*">Integration Marketo using their SOAP API to collect sale leads for marketing team.</li>
				        	<li value="*">Develop internal tools for customer support to assist clients with password resets, billing look up, reset limited free feature, and authorize overrides.</li>
				        	<li value="*">Develop affiliate sign up process to track revenue share and commissions on referred customer registration and purchases.</li>
				        	<li value="*">Code issue reporting tools to support distribution partners in error correction.</li>
				       	</ol>
				      </div>
				      <div class="extra">
			      	  <div class="ui label">Asp.net</div>
				        <div class="ui label">C#</div>
				        <div class="ui label">MVC</div>
				        <div class="ui label">Entity Framework</div>
				        <div class="ui label">Bootstrap 3</div>
				        <div class="ui label">Javascript</div>
				        <div class="ui label">Html</div>
				        <div class="ui label"><i class="database icon"></i> SQL</div>
				      </div>
				    </div>
				  </div>
				  <div class="item">
				    <div class="content">
				      <h3>University of California, San Diego</h3>
				      <div class="meta">
				        <span>Education Studies Research Assistant (09.2008-07.2011)</span>
				      </div>
				      <div class="description">
				        <ol class="ui list">
				        	<li value="*">Research assistant for the Striving Readers program in San Diego School district.</li>
				        	<li value="*">Design and create student and teacher surveys.</li>
				        	<li value="*">Transcribe interviews from teachers for researchers.</li>
				        	<li value="*">Process student and teacher surveys and gather data.</li>
				       	</ol>
				      </div>
				      <div class="extra">
			      	  <div class="ui label">Cardiff Teleform</div>
				      </div>
				      <div class="meta">
				      	<span>Computer Science Department Grader (07.2010-09.2010)</span>
				      </div>
				      <div class="description">
				        <ol class="ui list">
				        	<li value="*">Grade homework and exams.</li>
				       	</ol>
				      </div>
				    </div>
				  </div>
				</div>
	    </div> 

	    <div class="ui tab" data-tab="otherProjTab">
	    	<div>
		      <h3>Pets Fur Lease</h3>
		      <p>Ruby on Rails project because I love animal. Work in Progress.</p>
		  	</div>
	  		<div class="ui divider"></div>
		  	<div>
		      <h3><a href="/luckypup">Redesign of Lucky Pup Dog Rescue website</a></h3>
		      <p>For a quick web design project, I decided to redesign a local dog rescue website. This was a quick weekend project using html5, javascript, and the Semantic UI framework. I made a quick youtube video of the website and sent it to the Lucky Pup Dog Rescue founders. </p>
		  	</div>
		  	<br>
		  	<div><a href="/luckypup">Click here</a> to see the design live. Or watch the video I sent to the founders below. </div>
		  	<br>

		  	<div>
		  		<iframe width="560" height="315" src="https://www.youtube.com/embed/3RQvNA5hYfM" frameborder="0" allowfullscreen></iframe>
				</div>
		  	<div class="ui divider"></div>
    		<div>
		      <h3>Summoners HQ</h3>
		      <p>This is a League of Legends inspired fan app I worked on in my spare time. It was built for Windows Phone 7 market place. It was first released in Sep 2012, and the last update I made of it was in Jan 2013. It received a few hundred downloads over that period of time. It was taken down from the App store due to lack of time to keep maintaining the app and loading it with new content. My Windows Developer license also expired in 2013.</p>
		      <a href="https://www.microsoft.com/en-us/store/apps/summoner-hq/9nblggh0k485" target="_blank">Summoners HQ available on Microsoft App Store</a>

		  	</div>
		  	<br>

	      	<%= image_tag("SHQ3") %>
	      	<%= image_tag("SHQ1") %>
	      	<%= image_tag("SHQ2") %>
	      	<%= image_tag("SHQ4") %>
	      	<%= image_tag("SHQ5") %>
	      	<%= image_tag("SHQ6") %>
	      	<%= image_tag("SHQ7") %>
	      	<%= image_tag("SHQ8") %>
		  
	    </div> 

	    <div class="ui tab" data-tab="educationTab">
	      <h3>University of California, San Diego (UCSD)</h3>
	      <p>B.S in Computer Science</p>
	      <p>Minor in Math and Economics </p>
	    </div> 
	  </div>
	</div>
</div>  